
@{
    ViewData["Title"] = "Index";
    ViewData["Description"] = "Öğrenci Kayıt işlemleri sayfası";
}

<h1>Index</h1>
<p>Öğrenci işlemleri sayfası </p>

@* /* // Render body :header ve footer ortasında bulunur içerikleri gösteren yapı. */ *@